// SCSS for InventoryManagementComponent

.container {
    max-width: 1200px;
}

.table {
    font-size: 0.95rem;
}

.table-hover tbody tr:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    transition: transform 0.2s, box-shadow 0.2s;
}

i.bi-exclamation-triangle-fill {
    margin-left: 5px;
    vertical-align: middle;
}

th:last-child, td:last-child {
    width: 1%;
    white-space: nowrap;
}
