<div class="product-gallery" *ngIf="selectedImage">

  <div class="main-image mb-3">
    <img
      #mainImage
      [src]="selectedImage.large"
      [attr.data-zoom]="selectedImage.zoom"
      alt="Product Main Image"
      class="img-fluid drift-item glightbox"
    >
  </div>

  <div class="d-flex flex-row justify-content-start gallery-thumbs">
    <div
      *ngFor="let image of galleryImages; let i = index"
      class="p-2 thumb-container"
      [class.active]="selectedImage.id === image.id"
      (click)="selectImage(image)"
    >
      <img
        [src]="image.thumb"
        alt="Product Thumbnail {{ i + 1 }}"
        class="img-fluid border"
      >
    </div>
  </div>
</div>
